@model IEnumerable<ImageEdit.Models.Photo>

@{
    /**/

    ViewBag.Title = "Index";
}

<h2></h2>

@if (!Request.IsAuthenticated)
{
    <div class="alert alert-info">
        Please <strong>login</strong> to edit photos
    </div>
}

@*@if (Request.IsAuthenticated)
    {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    }*@

<div class="imageGrid">

    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        @if (Request.IsAuthenticated)
        {

            <th></th>
        }
        </tr>*@



    @foreach (var item in Model)
    {
        <div class="imageGridItem">
            <a href="/Photos/Details/@item.Id">
                <img src="../../UserImages/@item.ImagePath" alt="" width="500" />
            </a>
        </div>
    }
    @*<td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        @if (Request.IsAuthenticated)
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        }*@


</div>